.aboutMe {
  background-color: $colorPrimaryLight;
  transition: 1s;
  &__container {
    &::before {
      background-color: $colorPrimaryDarker;
      left: 5vw;
      top: 4vw;
      @include bigBall;
    }
    &::after {
      background-color: $colorPrimary;
      left: 12vw;
      top: 2vw;
      @include mediumBall;
    }
    &__title {
      position: relative;
      color: #1c2b2a;
      display: flex;
      font-size: 6vw;
      font-weight: 400;
      font-family: Font_title;
      padding-top: 4vw;
      padding-left: 18vw;
      z-index: 6;
      &::before {
        background-color: $colorPrimaryDark;
        top: 11vw;
        left: 16vw;
        @include tinyBall;
      }
      &__name {
        &--letter {
          transition: 1s ease-in-out;
        }
      }
    }
  }
  &__infos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    &__presentation {
      padding-top: 2vw;
      width: 40%;
      font-family: Font_main;
      font-size: 2vw;
      display: flex;
      flex-wrap: wrap;
      &__text {
        &--bar {
          animation: 0.7s flicker infinite;
          @keyframes flicker {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
      &__word {
        display: flex;
        margin: 0 0.5rem;
      }
    }
    &__picture {
      padding-top: 10vw;
      max-width: 15%;
      height: auto;
    }
  }
}
