.aboutMe {
  background-color: #95b7b1;
  transition: 1s;
  &__container {
    &::before {
      content: '';
      position: absolute;
      height: 14vw;
      width: 16vw;
      border-radius: 50%;
      background-color: #122625;
      left: 5vw;
      top: 4vw;
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      height: 11vw;
      width: 14vw;
      border-radius: 50%;
      background-color: #5d9087;
      left: 12vw;
      top: 2vw;
      z-index: 2;
    }
    &__title {
      position: relative;
      color: #1c2b2a;
      display: flex;
      font-size: 6vw;
      font-weight: 400;
      font-family: Font_title;
      padding-top: 4vw;
      padding-left: 18vw;
      z-index: 6;
      &::before {
        content: '';
        position: absolute;
        height: 6vw;
        width: 7vw;
        border-radius: 50%;
        background-color: #204f4f;
        top: 11vw;
        left: 16vw;
        z-index: 4;
      }
      &__name {
        &--letter {
          transition: 1s ease-in-out;
        }
      }
    }
  }
  &__infos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    &__presentation {
      padding-top: 2vw;
      width: 40%;
      font-family: Font_main;
      font-size: 2vw;
      display: flex;
      flex-wrap: wrap;
      &__text {
        &--bar {
          animation: 0.7s flicker infinite;
          @keyframes flicker {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
      &__word {
        display: flex;
        margin: 0 0.5rem;
      }
    }
    &__picture {
      padding-top: 10vw;
      max-width: 15%;
      height: auto;
    }
  }
}
