.home {
  transition: 1s;
  background-color: $colorPrimaryDark;
  &__title {
    padding-top: 20vw;
    padding-right: 5vw;
    position: relative;
    font-family: Font_title;
    color: #fdeded;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
    z-index: 6;

    &__name {
      display: flex;
      &__word {
        font-size: 6vw;
        font-weight: 400;
        margin: 0 1rem;
        display: flex;
        &--letter {
          transition: 1s ease-in-out;
        }
      }

      &::before {
        content: '';
        position: absolute;
        height: 18vw;
        width: 18vw;
        border-radius: 50%;
        background-color: $colorPrimaryDarker;
        left: 23vw;
        bottom: -5vw;
        z-index: -1;
      }
      &::after {
        content: '';
        position: absolute;
        height: 12vw;
        width: 12vw;
        border-radius: 50%;
        background-color: $colorPrimary;
        left: 30vw;
        bottom: -10vw;
        z-index: 2;
      }
    }
    &__dev {
      h1 {
        font-size: 3vw;
        font-weight: 400;
        text-align: end;
        padding-right: 7vw;
        transition: 0.8s ease-in-out;
        transition-delay: 1.2s;
      }
      &::before {
        content: '';
        position: absolute;
        height: 25vw;
        width: 25vw;
        border-radius: 50%;
        background-color: $colorPrimaryLight;
        left: 12vw;
        bottom: -15vw;
        z-index: -4;
      }
    }
  }
}
