// .polaroid {
//   display: flex;
//   flex-direction: column;

//   max-height: 20%;
//   width: auto;
//   background-color: white;
//   padding: 1rem;
//   &__photo {
//     height: 80%;
//   }
//   &__text {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 20%;
//     margin: 1.5rem 0;
//   }
// }

.polaroid {
  text-align: center;
  background-color: white;
  padding: 10px;
  width: 20%;
  color: #8b8b8b;
  p {
    margin: 1em 0;
    font-size: 2vw;
  }
}
