// .polaroid {
//   display: flex;
//   flex-direction: column;

//   max-height: 20%;
//   width: auto;
//   background-color: white;
//   padding: 1rem;
//   &__photo {
//     height: 80%;
//   }
//   &__text {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 20%;
//     margin: 1.5rem 0;
//   }
// }

.polaroid {
  text-align: center;
  background-color: white;
  font-size: 18px;
  padding: 10px 10px 60px 10px;
  margin: 0 0 35px 35px;
  width: 250px;
  color: #8b8b8b;
}
