.portfolio {
  background-color: $colorPrimaryDarker;
  transition: 1s;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1.5fr;
  &__title {
    grid-area: 5/1;
    position: relative;
    color: #95b7b1;
    display: flex;
    font-size: 6vw;
    font-weight: 400;
    font-family: Font_title;
    display: flex;
    justify-content: flex-end;
    z-index: 6;
    &::before {
      background-color: $colorPrimaryLight;
      right: 5vw;
      bottom: 4vw;
      @include bigBall;
    }
    &::after {
      background-color: $colorPrimary;
      right: 12vw;
      bottom: 2vw;
      @include mediumBall;
    }
    &__p {
      position: relative;
      z-index: 6;
      padding-right: 18vw;
      padding-bottom: 4vw;
      &::before {
        background-color: $colorPrimaryDark;
        bottom: 11vw;
        right: 16vw;
        @include tinyBall;
      }
    }
  }
  &__polaroids {
    grid-area: 2/1;
    display: flex;
    flex-wrap: wrap;
  }
}
