.portfolio {
  background-color: #122625;
  transition: 1s;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;

  align-items: stretch;
  &__polaroids {
    display: flex;
    justify-content: space-around;
  }
  &__title {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 18vw;
    color: #5d9087;
    font-size: 6vw;
    font-weight: 400;
    font-family: Font_title;
    padding-bottom: 4vw;
    z-index: 6;
    &__project {
    }
  }
}
