.portfolio {
  background-color: #122625;
  transition: 1s;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__polaroids {
    display: flex;
    justify-content: space-around;
    align-self: center;
  }
}
