$colorPrimary: #5d9087;
$colorPrimaryLight: #95b7b1;
$colorPrimaryDarker: #122625;
$colorPrimaryDark: #204f4f;
$colorTextTitleLight: #fdeded;

$breakpoint-extralarge: 1000px;
$breakpoint-largest: 900px;
$breakpoint-medium: 800px;
$breakpoint-small: 700px;
$breakpoint-smallest: 600px;
$breakpoint-extrasmall: 500px;
