.app {
  overflow: hidden;
  position: relative;

  &__menu {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 100px;
    z-index: 10;
    color: $colorPrimaryLight;
    font-family: Font_main;
    font-size: 2vw;
    width: 50vw;
    justify-content: space-between;
    cursor: pointer;

    @media screen and (max-width: $breakpoint-extralarge) {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      right: 50px;
      font-size: 3vw;
    }

    @media screen and (max-width: $breakpoint-medium) {
      right: 20px;
      font-size: 4vw;
    }
    @media screen and (max-width: $breakpoint-extrasmall) {
      font-size: 5vw;
    }

    &--right {
      position: absolute;
      width: 2vw;
      right: 0px;
      bottom: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 10;
      cursor: pointer;
      &__ronron {
        position: relative;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        z-index: 10;
        margin: 12px 0;
        @media screen and (max-width: $breakpoint-smallest) {
          display: none;
        }

        &--light {
          background-color: $colorPrimaryLight;
        }
        &--dark {
          background-color: $colorPrimaryDark;
        }
        &--darker {
          background-color: $colorPrimaryDarker;
        }
        &--selected {
          background-color: #fdeded;
        }
      }
    }
  }
}
